body {
    max-width: 80%;
}
nav {
    margin-bottom: 80%;
}
#version{
    font-size: 0.66em;
    font-weight: bold;
}
img {
    margin: 20px;
    width: 60%; 
}    
aside {
    float: right;
    width: 15%;
}

.sidebar{

    float: right;
    width: 15%;
}

h2.center{
    text-align: center;
  }

